body{
  overflow: hidden;
font-family: "Kumbh Sans", sans-serif !important;
}

.main{
  min-height: 100vh;
  background: hsl(185, 75%, 39%);
  display: flex;
  justify-content: center;
  align-items: center;
z-index: 2;
margin: 0;
}

.box{
  min-width: 24vw;
  min-height: 58vh;
  background: white;
  z-index: 1;
  box-shadow: 0 25px 30px 0 hsl(0, 0%, 0%, 0.4);
  border-radius: 10px;
}

.circle1{
  position: absolute;
  bottom: 10rem;
right: 41rem;
}

.circle2{
  position: absolute;
  top: 8rem;
    left: 18rem;
}
.card{
  border-radius: 9px 9px 0 0 !important;
  border: 0 !important;

}
.victor{
  position: relative;
    left: 125px;
    bottom: 48px;
    border-radius: 50%;
    border: solid 3px white;

}
.info-container{
  display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.city, .age, p{
  text-align: center;
  color: hsl(0, 0%, 59%);
}

.bio{
  text-align: center;
margin-top: -37px;
}

.name{
  font-size: 28px;
    font-weight: 600;
    color: hsl(229, 23%, 23%);
}

.flo{
  font-weight: 800;
  color: hsl(229, 23%, 23%);
  font-size: 20px;
}
